{% extends "layout.html" %} 
{% block content %}
<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  "
>
  <div
    style="
      text-align: center;
      padding: 30px;
      background-color: #333;
      border-radius: 8px;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    "
  >
    <h1 style="color: #f9f9f9; font-size: 2.5em; margin-bottom: 15px">
      Hello, {{ current_user.username }}!
    </h1>
    <p style="color: #bbb; font-size: 1.1em; margin-bottom: 25px">
      Welcome back! We’re glad to see you here.
    </p>
    <p style="color: #bbb; font-size: 1.1em; margin-bottom: 25px">
      Account Details:
    </p>
    <div style="color: #f9f9f9; text-align: left; font-size: 1.2em">
      <p><strong>Username:</strong> {{ current_user.username }}</p>
      <p><strong>Email:</strong> {{ current_user.email }}</p>
    </div>
    <a href="/">  <button
      style="
        background-color: #555;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
      "
    >
      Back
    </button>
  </a>
  </div>
  
</div>


{% endblock content %}
